.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.category-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}