.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.header {
    margin-top: 10px;
    margin-left: 100px;
}

.container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.category-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    margin: 100px 50px;
}